.nav-item {
 padding-left: 20px;
}

.nav-item:hover {
    text-decoration: underline;
}

body {
    font-family: 'Poppins';
    background: black; /* Cor de fundo desejada */
    margin: 0;
    padding: 0;
}

.titulo h1 {
    color: white;
    text-align: center;
    font-size: 45px;
    font-family: 'Poppins';
    font-weight: bold;
}

.subtitulo {
    color: white;
    text-align: center;
    font-size: 17px;
    font-family: 'Poppins';
}

.subtitulo a {
    color: white;
}

.subtitulo h2 {
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: 'Poppins';
}

.corpo {
    background-color: black;
    padding-bottom: 2em;
    text-align: center;
    height: 90vh;
    overflow: auto;
}

.corpo img {
    transition: transform 0.2s ease; /* Adiciona transição suave */
}

.cachaça-produto:hover {
    transform: scale(1.03);
}

.doce-produto:hover {
    transform: scale(1.03);
}

.titulo {
    padding-top: 2em;
}

.subtitulo {
    padding-bottom: 2em;
}

.smaller-image {
    max-width: 70%; /* Defina a largura desejada */
    height: auto; /* Isso garantirá que a proporção da imagem seja mantida */
    margin: 0 auto; /* Isso centralizará a imagem dentro do carrossel */
  }



.container1 {
    background-color: black;
}

#carouselExampleCaptions {
    padding-bottom: 3em;
}

footer {
    text-align: center;
    background-color: gainsboro;
    /*margin: auto;*/
    padding: 0;
}

footer p {
    color: black;
    padding: 0;
    margin-bottom: 0;
    font-size: small;
}

footer p:last-child {
    margin-top: 0;
}
    
.produtosTitulo {
    margin-bottom: 1em;
}

.cachaça-produto {
    display: block;
    margin: auto;
    padding-bottom: 2em;
}


.doce-produto {
    display: block;
    margin: auto;
    padding-bottom: 1em;
}

.card {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 80px;
}



